.mapWrap {
    position: relative;
    height: 100%;
  }
  .map {
    height: 600px;
    width: 100%;
  }
  .toggleButton {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }
  